@model CinemaManagementSystem.Models.Coupon

@{
    ViewData["Title"] = "Delete coupon";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.CouponCode</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label asp-for="CouponCode" class="control-label"></label>
                    <input asp-for="CouponCode" class="form-control" readonly />
                    <span asp-validation-for="CouponCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="CouponId" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>


